.App {
  
}
.rct-outer {
  height: 100vh !important;
}
.rct-outer > .rct-scroll {
  border: 1px solid;
}
.rct-sidebar, .rct-sidebar > div{
  height: 100%;
}
.rct-scroll, .rct-horizontal-lines , .rct-vl {
  height: 100% !important;
}
.dateLabel > .rct-dateHeader{
  justify-content: flex-start;
  border: 0px;
}
.cal-title {
  background: #fff;
  width: 129px !important;
}
.rct-hl-odd {
  background: rgba(196, 196, 196, 0.1) !important;
}
.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-6, .react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-0 {
  background: unset;
}